body {
    background-color: black;
    color: white;
}

.site-main {
    height: auto;
    width: 100%;
    background-color: goldenrod;
    /*border: 3px solid darkgoldenrod;*/
    background-image: url(/assets/train-background.jpg);
    background-position: center;
    background-size: cover;
    /*background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.7), rgba(0,0,0,.4), rgba(0,0,0,0));*/

}

.blur{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
    /*background-image: linear-gradient(to right, rgba(0,0,0,1),  rgba(0,0,0,.3), rgba(0,0,0,0));*/
}