<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RDR2 Gusser</title>
    <link rel="stylesheet" type="text/css" href="/assets/gusser_style.css">
    <script language="javascript" type="text/javascript" src="/assets/gusser.js"></script>
  </head>
  <body>
    <header>
      {{template "navbar.html"}}
    </header>
    <main class="main-gusser">
      <div class="pic-border">
          <img class="picture" src="/assets/img/RDR2-B{{.img_num}}.jpg" alt="Funktioniert nicht" ismap>
      </div>
      {{ template "guesser" }}
    </main>
  </body>
</html>
