<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RDR2 Gusser Home</title>
    <link rel="stylesheet" type="text/css" href="/assets/rdr2_style.css">
  </head>
  <body>
    {{template "navbar.html"}}        <!--Go templating navbar-->
    <header class="site-header">
      <h1 id="RDR2header"> RED DEAD REDEMPTION II Gusser</h1>
      {{ if .message }}
	<div class="message_box">
	      <h1 class="message">{{ .message }}</h1>
	</div>
      {{ end }}
    </header>
    <nav class="site-nav"></nav>
    <main class="site-main">
      <div class="blur">
        <div class="explore">
          <h2> EXPLORE THE MAP! </h2>
          <p> Find clues and guess where John is in the world.<br>
              Join 3 other local players.</p>
        </div>
        <div class="play-comment">
	  <form action="/start_rdr2gusser" method="post">
	    <input type="submit" class="link-to-rdr2gusser" value="Play Now!" class="play">
	  </form>
          <p class="comment">RDR2 Gusser is the most fun game out there! Easy to learn hard to master,
            so is really addictive! And you learn lots about the map at the same time! Love the
            new local game mode where you can't create paties and play vs friends
            and family!<br>
            <br>
            ⭐⭐⭐⭐⭐<br>
            erase</p>
        </div>
        <div class="discover">
          <h2 id="headdis"> Discover the Map</h2>
          <div class="center-discover">
            <p class="dis"> Discover the Map in your own pace and earn<br>
                            points to get the flag in our single player mode.</p>
            <img src="/assets/img/Rdr2-3DMap.PNG" alt="RDR2 3D-Map" width="400" height="250" id="disimg">
          </div>
        </div>
        <div class="playwith">
          <img src="/assets/img/Rdr2-friends.jpg" alt="RDR2 friends" width="400" height="250">
	  <div class="center-playwith">
	    <del>
	    <h2>Play with your friends</h2>
	    <p>Put your skills to the test against your<br>
		    friends and family. Create your own private party and play together.</p>
	    </del>
          <hr>
        </div>
      </div>
    </main>
    <footer class="side-footer">
      <div>
        <b>
          <p>Get it now:</p>
        </b>
        <a href="https://github.com/Erase01/Finns-Geburtstag"><img src="/assets/img/GitHub_Icon.png" alt="GitHub" width="50" height="50"></a>
      </div>
    </footer>
  </body>
</html>
