<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RDR2 Gusser</title>
    <link rel="stylesheet" type="text/css" href="/assets/gusser_style.css">
    <script language="javascript" type="text/javascript" src="/assets/gusser.js"></script>
  </head>
  <body>
    {{template "navbar.html"}}

    <div>
	<img src="/assets/img/guess_image{{.img_num}}.png" alt="Funktioniert nicht" ismap>
    </div>
    {{ template "guesser" }}
  </body>
</html>
